body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe4e1;
    color: #d80073;
    padding: 0;
    margin: 0;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card1 {
    margin: auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.girl{
    width: 300px;
}

.card2 {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card3 {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
input[type="text"] {
    padding: 10px;
    border: 2px solid #d80073;
    border-radius: 5px;
    width: 200px;
    margin: 10px 0;
    size: "10";
}
button {
    background-color: #d80073;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #ff5e99;
}
.hidden {
    display: none;
}
.cover-page {
    background-image: url('public/images/valentines\ cover\ page.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.cover-page h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}




/* Styles for corner images */
.corner-image {
    position: absolute;
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
}

/* Top-left corner */
.corner-image.top-left {
    top: 10px;
    left: 10px;
}

/* Top-right corner */
.corner-image.top-right {
    top: 10px;
    right: 10px;
}

/* Bottom-left corner */
.corner-image.bottom-left {
    bottom: 10px;
    left: 10px;
}

/* Bottom-right corner */
.corner-image.bottom-right {
    bottom: 10px;
    right: 10px;
}

.hearts-gif {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    z-index: 10; /* Make sure it appears above other content */
}
